@import "tailwindcss";

@theme {
  --color-apc-green: #00843d;
  --color-apc-red: #d92d20;
  --color-apc-white: #ffffff;

  --color-apc-navy: #0d3b66;
  --color-apc-primary: #1b4f72;
  --color-apc-secondary: #2e86c1;
  --color-apc-light: #ebf5fb;
}
@layer components {
  .form-label {
    @apply block text-sm font-medium text-gray-700 mb-2;
  }

  .form-input {
    @apply w-full px-4 py-3 rounded-lg border border-gray-300 bg-white
      focus:outline-none focus:ring-2 focus:ring-apc-primary
      focus:border-transparent transition;
  }
}
